@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@450;600');

$navbar-app-height: 6vh;
$navbar-board-height: 7vh;
$board-content-height: 86vh;

$gap: 10px;
$board-bg-color: #0079bf;
$common-element-bg: rgba(255, 255, 255, .24);