@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@450;600');
//height
$navbar-app-height: 6vh;
$navbar-board-height: 7vh;
$board-content-height: 86vh;

$gap: 10px;

$app-main-text-color: #333;
$board-bg-color: #0079bf;
$common-element-bg: rgba(255, 255, 255, .24);

$column-border-radius: 4px;

//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 7681px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: )';