@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@450;600');

$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;

$gap: 10px;

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

.trello-master {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color;

    .navbar {
        padding-left: $gap;
        display: flex;
        align-items: center;

        &.app {
            background-color: $appbar-bg-color;
            font-size: 1.5rem;
        }

        &.board {
            background-color: $appbar-bg-color;
            font-size: 1.1rem;
        }
    }
}